# Remove this line for actual projects
/cms/config/license.key 

# CRAFT FILES
/cms/storage/*
!/cms/storage/backups/
!/cms/storage/rebrand/
/cms/vendor/*
/cms/web/assets/*
/cms/web/cpresources/*
/cms/composer.lock

# BUILD FILES
node_modules

# MISC FILES
.vscode
desktop.ini