# Remove this line for actual projects
/container/config/license.key 

# CRAFT FILES
/container/storage/*
!/container/storage/backups/
!/container/storage/logs/
!/container/storage/rebrand/
/container/vendor/*
/container/web/cpresources/*
/container/composer.lock

# BUILD FILES
node_modules

# MISC FILES
.vscode
desktop.ini