# Remove this line for actual projects
/src/config/license.key 

# CRAFT FILES
/src/storage/*
!/src/storage/backups/
!/src/storage/rebrand/
/src/vendor/*
/src/web/cpresources/*
/src/composer.lock

# BUILD FILES
node_modules

# MISC FILES
.vscode
desktop.ini